extends layout.pug

block content
	div.bodies  
		audio(autoplay) 
				source(src="gtasa.mp3" type="audio/mpeg")
		div.divs-1 
			

		div.divs-2 
			div.font 
				p.missionpassed mission passed!<br><span><a href="/logout" class="respect">respect+</a></span>

			